
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function redirect() {
        var n = document.getElementById("min").value;
        var x = document.getElementById("max").value;
        var u = "a/bet?min=" + n + "&max=" + x;
        location.replace(u);
    }
</script>

<h1>Index</h1>
min:<input type="text" id="min" value="0" /><br />
max:<input type="text" id="max" value="11" /><br />
<input type="button" value="click me" onclick="redirect()" />

