body {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.8em;
}
a {
    color: aqua;
    text-decoration: none;
    padding-right: 1.3em;
}
  a:visited {
    color: aqua;
  }
  a:hover {
    color: greenyellow;
    font-size: 1.2em;
  }
  h1.header{
    position: fixed;
    left: 0;
    top: -36;
    width: 100%;
    padding-bottom: 40px;
    background-color: rgb(32, 28, 28);
    font-size: 1.8em;
    border: 3px solid red;
  }
  h1{
    width: 100%;
    background-color: rgb(32, 28, 28);
    font-size: 1.8em;
    border: 3px solid blue;
  }