body {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2.5em;
}
a {
    color: aqua;
}
  a:visited {
    color: aqua;
  }
  a:hover {
    color: greenyellow;
    font-size: 1.2em;
  }
  div{
      width: 40%;
      margin: 0 auto 0 auto;
  }
  h1{
      background-color: rgb(32, 28, 28);
      font-size: 1.8em;
      border: 3px solid red;
  }