h1 {
	font-size: 80px;
	font-style: italic;
	color:green;
}
h3 {
	font-size: 50px;
	color: grey;
	font-family: arial, times, serif;
	text-align: center;
	border: 5px solid yellow;
	margin: 0 150px 0 150px;
}
h2 {
	text-align:center;
	font-size: 50px;
	color: grey;
}
p.ra {
	color:red;
	font-size: 40;
	font-family: arial, times, serif;
	text-align: right;
}
p.big {
	color:green;
	font-size: 70;
	text-align: right;
}
	

	

