
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="width:50%">
    <tr>
        <td><h1>name:</h1></td>
        <td><h1>addres:</h1></td>
        <td><h1>age:</h1></td>
    </tr>
    <tr>
        <td><h3>@Model.name</h3></td>
        <td><h3>@Model.resedence</h3></td>
        <td><h3>@Model.age</h3></td>
    </tr>
</table>
