<div class="form-group">
        <h3>
            city: <input type="text" [(ngModel)]="city" placeholder="name of city" (keyup.enter)="submit();">
            <span style="padding-left: 60%">
            </span>
        </h3>
        <button name="Scity" (click)="submit();">Go</button>
</div>
<h1 style="text-align: center; font-size: 4em">{{cityforecast[0].cityname}}</h1>
<div style="border:2px solid  black; width: 19.5%; display: inline-block; background-color:ivory" *ngFor="let day of cityforecast">
        <h2>date: {{day.date}}</h2>
        <h2>Temp: {{day.temp}}°</h2>
        <div class="img"><img src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png"></div>
        <h2>Weather description:<br> {{day.description}}</h2>
</div>
