@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    As if i would tell you
</address>

<address>
    <strong>Support:</strong>   <a target="_blank" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">Support@home.me</a><br />
    <strong>Marketing:</strong> <a target="_blank" href="https://www.amazon.com/">best place to buy things #sponserd</a>
</address>