<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" [value]="prodactname" class="form-control"{()}>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input style="width: 4em" type="number" [value]="prodactamount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="sendaction('doadd')">Add</button>
          <button class="btn btn-danger" type="button" (click)="sendaction('dodelete')">Delete</button>
          <button class="btn btn-primary" type="button" (click)="sendaction('doclear')">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
